#services{
    
}
.services-container{
    
}

.services-title{
    font-size: 3.5rem;
    font-weight: 800;
    color: #2e2d29;
    margin-bottom: 25px;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.services-title span {
    background: linear-gradient(135deg, #3176ba, #c03435);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.services-cards-container{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(auto-fit,minmax(170px,1fr)); */

    /* flexible responsive columns */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    /* optional: center items on last row */
    justify-items: center;
    justify-content: center;

    align-items: stretch;

    /* grid-template-rows:max-content; */
    grid-auto-rows:1fr;

    gap: 40px;

    padding: 20px;
}

/* this class is for having a modular border around the cards with the original gradient , to have the correct border radius follow the formula : 

    ! wrapper border radius = inner card border radius + wrapper padding

*/
.service-card-wrapper{
    box-sizing: border-box;
    transition:0.2s;

    width: 100%;
    height: 100%;

    /* background: #3176ba ; */
    background: linear-gradient(135deg, #3176ba, #3176ba);
    border-radius: 15px;
    /* padding: 10px; */
    padding: 5px;
}
.service-card-wrapper:hover{
    transform: translateY(-10px);
    background: linear-gradient(135deg, #3176ba, #c03435);
    /* padding: 5px; */
    /* transform: ; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
    /* transform: scale(1.03); */
}
.service-card-wrapper:active{
    transform: translateY(+10px);
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.6);
    transform: scale(1.03);
    height: 300px; */
}

.service-card-wrapper * {
    cursor: pointer;
}

.service-card{
    height: 100%;
    min-width: 170px;
    width: 100%;

/*     
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: fit-content max-content;
    gap :20px; */

    display: flex;
    flex-direction: column;
    text-align: left;
    

    align-items: center;

    padding: 10px;
    background-color: #efeae1;
    border-radius: 10px;
}

.service-icon{
    height: 30px;
}
.service-card p{
    /* grid-area: 2/1/3/3; */

    padding-top: 30px;
}
.service-card h3{
    
}



.featured-card-wrapper{
    grid-area: 1/1/3/-1;
    /* background: linear-gradient(135deg, #c03435, #c03435); */
}

.featured-card-wrapper .close-button{

    transition: 0.3s;

    display: block;
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: #c03435;
    text-align: center;
    padding: 4px;

    z-index: 2;

    border-radius: 5px;
}

.featured-card-wrapper .close-button:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    
}
.featured-card-wrapper .close-button:active{
    transform: translateY(5px);
}


/* clients section */
/* /////////////////////////////////////////////////////////////////////////////////////// */

#clients{
    width: 100%;
}
.clients-container{
    width: 100%;

}
/* .clients */

.clients-title{
    font-size: 3.5rem;
    font-weight: 800;
    color: #2e2d29;
    margin-bottom: 25px;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.clients-title span {
    background: linear-gradient(135deg, #3176ba, #c03435);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.clients-cards-container{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 10px;

    gap: 10px;
}

.client-card{
    position: relative;

    height: 15%;
    height: 200px;

    aspect-ratio: 1/1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    background-color: rgba(1, 1, 1, 0.1);
}

.client-card .client-logo{
    height: 60px;
}
.client-logo,.client-name{
    z-index: 2;
}

.client-card-background{

    position: absolute;
    top: 0;
    left: 0;

    transition: 0.2s;

    height: 100%;
    width: 100%;
    background:linear-gradient(135deg, #3176ba, #c03435);
    opacity: 0%;
}
.client-card-background-hover{
    opacity: 1;
    transform: scale(1.05);
}


/* projects section */
/* //////////////////////////////////////////////////////////////// */

.all-projects-container{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.year-container{

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    background-color: red;
    
    overflow: hidden;
}

.year-header{
    
    width: 70%;
    
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.year-content{
    transition:max-height 0.3s;
    max-height:0px;
}
.year-content-expanded{
    /* max-height:600px ; */
}